h1 span{
color: #037BC0;
}

body{
    background-color: silver;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.producto{
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.cats{
    margin: 0% 10%;
}

.titulo-cat{
    margin: 70px 0px 40px 0px;
}

.box-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cat{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-col{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}